<div class="template-wrapper">
    <form action="/deletePost" method="post">
        <input type="submit" class="btnW" value="Delete post" />
    </form>
    <form action="/banAccountP" method="post">
        <input type="submit" class="btnW" value="Ban user" />
    </form>
    <h2>Post was created by <%= creator %></h2>
    <div class="likes">
        <form action="/question/<%= name %>/<%= id %>/likePost" method="post">
            <input type="submit" id="btn-snd" value="Like" />
        </form>
        <h4>Likes: <%= likes %></h4>
    </div>
    <div class="question">
        <h1><%= title %></h1>
        <div class="rpx"></div>
        <h3><%= body %></h3>
        <div class="rpx"></div>
    </div>
    <div class="comments">
    <form action = "/question/<%= name %>/<%= id %>/comments" method = "post">
        <textarea name="comment" placeholder="Comment" id = "comment"></textarea>
        <input type="submit" id = "btn-snd" value = "Submit Comment">
    </form>
    <h3>comments</h3>
    <div class="comment-section">
        <!--loop through comments and display only the first one if it exits-->
        <% if (comments.length < 0) { %>
            <h4>No comments yet</h4>
        <% } %>  
        <% if (comments.length > 1) { %>
        <div class="comment">
            <div class="comment-content">
                <h4><%= comments[1].comment %></h4>
            <h5>Posted by: <%= comments[1].creator %></h5>
            </div>
        </div>
        <% } %>
    </div>
    <a href="">view all comments</a>
</div>