<html>
  <head>
    <link rel="stylesheet" href="../../css/index.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <a id="top" href="/panel"><button class="btnT">Back to Panel</button></a>
      </div>
    </div>

    <div class="details-wrapper">
      <div class="postcard-title"><h1>Account Details:</h1></div>
      <div class="buttons">
        <p>
            <label>Username:</label>
            <br>
            <input type="text" value="<%= username %>" disabled>
        </p>
        <p>
            <label>Email:</label>
            <br>    
            <input type="text" value="<%= email %>" disabled>
        </p>
        <p>
            <label>Id:</label>
            <br>
            <input type="text" value="<%= id %>" disabled>
        </p>
        <p>
            <label>Created at:</label>
            <br>
            <input type="text" value="<%= createdAt %>" disabled>
        </p>
        <p>
            <label>Updated at:</label>
            <input type="text" value="<%= updatedAt %>" disabled>
        </p>
        <!--make an a element with a button-->
      </div>
    </div>
  </body>
</html>
