<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit profile</title>
    <link rel="stylesheet" href="../../../css/edit.css" />
  </head>
  <body>
    <div class="error-boddy">
        <a id="top" href="/"><button class="btnT">main page</button></a>
        <a id = "top" href="/profile/<%= obj.userUrl %>"><button class="btnT">cancel</button></a>
      <div id="error-page">
        <div class="error-content">
          <h2 class="header" data-text="Edit profile">Edit profile</h2>
          <br />
          <p><%= obj.msg %></p>
          <div class="btns">
            <form action = "/profile/<%= obj.userUrl %>/saveChanges" method = "post" style = "width: 100%" enctype="multipart/form-data">
                <label>Username</label>
                <br>
                <input type="text" name="newUsername" placeholder="<%= obj.username %>">
                <br>
                <label>Bio</label>
                <br>
                <textarea name="newBio" id = "bio" placeholder="<%= obj.bio %>"></textarea>
                <br>
                <label>Profile image</label>
                <br>
                <input type="file" accept="image/png, image/jpeg, image/gif" name="ProfileImage" id = "file" style = "display: none">
                <label for="file" id = "submitT">Upload image</label>
                <br>
                <input type = "submit" id="submit" value = "save changes">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
