<!--make me a 404 page with basic css-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= obj.username %></title>
    <link rel="stylesheet" href="../../../../css/ver.css" />
    <link res="stylesheet" href="../../../../../css/profile.css" />
    <script>
        function edit() {
            var owner = '<%= obj.owner %>';
            console.log(owner);
            //check if owner is true
            if (owner === 'true') {
                console.log('owner is true');
                //if owner is true, then show edit button
                document.getElementsByName("edit").style.display = "block";
            }
        }
        window.onload = edit;
    </script>
  </head>
  <body>
    
    <div class="error-boddy">
        <a id="top" href="/"><button class="btnT">Return Home</button></a>
        <form action="/profile/<%= obj.userUrl %>/edit" method="post">
            <input type="submit" class="btnT" value="edit" name="edit">
      <div id="error-page">
        <div class="error-content">
            <div class="user-image">
                <img src="<%= obj.image %>" id = "pfp">
            </div>
          <h2 class="header" data-text="<%= obj.username %>"><%= obj.username %></h2>
          <br />
          <p><%= obj.msg %></p>
          <div class="btns">
            <div>
                <div class="container">
                    <div class="content">
                      <p>Bio:</p>
                        <p class="name"><%= obj.bio %></p>
                    </div>
                </div>
                <hr>
                <p>Posts:</p>
                <br>
                <% if(tables.length <= 0) { %>
                  <p style = "color:#ff3333">No posts found!</p>
                <% } else { %>
                <% for(var i = 0; i < tables.length; i++) { %>
                  <div class="card">
                    <div class="card-title">
                      <h2><%= tables[i].rawname %></h2>
                    </div>
                    <div class="card-content">
                      <a href= "<%= tables[i].url %>">Click here to view post</a>
                      <p>Published by <%= tables[i].creator %></p>
                    </div>
                </div>        
                  <% } %>
                <% } %>
            </div>
          </div>
          <p class ="details" style = "color:grey; font-size: 14px;">
            Account was created on: <%= obj.creationDate %>
        </p>
        </div>
      </div>
    </div>
  </body>
</html>
