<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= obj.username %> mod</title>
    <link rel="stylesheet" href="../../../../css/ver.css" />
    <link res="stylesheet" href="../../../../../css/profile.css" />
    <style>
      .btnW {
      font-size: 25px;
      background-color: #ff3333;
      border: solid 1px;
      color: white;
      border-radius: 5px;
      width: 40%;
      padding: 10px;
      transition: 0.5s;
      transition: 0.5s;
      height: 50px;
      margin-bottom: 10px;
    }
    .btnW:hover {
      background-color: rgb(204, 51, 51);
      cursor: pointer;
    }
    </style>
  </head>
  <body>
    
    <div class="error-boddy">
        <a id="top" href="/"><button class="btnT">main page</button></a>
        <form action="/profile/<%= obj.userUrl %>/edit" method="post">
            <input type="submit" class="btnT" value="edit" name="edit">
      <div id="error-page">
        
        <div class="error-content">
        <form action="/banAccountP" method="post">
            <input type="submit" class="btnW" value="Ban user" />
        </form>
        <br/>
            <div class="user-image">
                <img src="<%= obj.image %>" id = "pfp">
            </div>
          <h2 class="header" data-text="<%= obj.username %>"><%= obj.username %></h2>
          <br />
          <p><%= obj.msg %></p>
          <div class="btns">
            <div>
                <div class="container">
                    <div class="content">
                        <p class="name"><%= obj.bio %></p>
                    </div>
                </div>
                <p>posts</p>
                <% if tables.length > 0 { %>
                <% for (var i = 0; i < tables.length; i++) { %>
                <div class="container">
                    <div class="content">
                        <p class="name"><%= tables[i].msg %></p>
                    </div>
                    <% } %>
                  <% } else { %>
                  <p>no posts yet!</p>
                  <% } %>
            </div>
          </div>
          <p class ="details" style = "color:grey; font-size: 14px;">
            account was created on: <%= obj.creationDate %>
        </p>
        </div>
      </div>
    </div>
  </body>
</html>
